<% include ../partials/header %>
<div class="container">
<div class="row">
<div class="col-md-5 col-12 mx-auto mt-4">
      <h2 class="text-center">Login</h2>
<form action="/account/login" method="POST">
  <div class="form-group">
    <label class="lead text-muted"for="email">Email</label>
    <input type="text" class="form-control form-control-lg" id="email" name="username" aria-describedby="usernameHelp" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label class="lead text-muted" for="password">Password</label>
    <input type="password" class="form-control form-control-lg" id="password" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
  </div>
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </form>
</div>
</div>
</div>
<% include ../partials/footer %>
<% include ../partials/scripts %>
