<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-7 col-12 mx-auto mt-4">
      <h2 class="text-center">Register</h2>
      <form action="/account/register" method="POST">
        <div class="form-group">
          <label class="lead text-muted" for="username">Username</label>
          <input type="text" class="form-control form-control-lg" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter username" >
        </div>
        <div class="form-group">
          <label class="lead text-muted" for="email">Email address</label>
          <input type="email" class="form-control form-control-lg" id="email" name="email" aria-describedby="emailHelp" placeholder="momo@email.com" >
        </div>
        <div class="form-group">
          <label class="lead text-muted" for="firstName">First name</label>
          <input type="text" class="form-control form-control-lg" id="firstName" name="firstName" aria-describedby="first_nameHelp" placeholder="Enter first name" >
        </div>

        <div class="form-group">
          <label class="lead text-muted" for="lastName">Enter last name</label>
          <input type="text" class="form-control form-control-lg" id="lastName" name="lastName" aria-describedby="last_nameHelp" placeholder="Enter last name">
        </div>
        <div class="form-group">
          <label class="lead text-muted" for="password">Password</label>
          <input type="password" class="form-control form-control-lg" id="password" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
        </div>

        <div class="form-group">
          <label class="lead text-muted" for="confirmPassword">Confirm password</label>
          <input type="password" class="form-control form-control-lg" id="confirmPassword" name="confirmPassword" aria-describedby="passwordHelp" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>
    </div>
  </div>
</div>
<% include ../partials/footer %>
<% include ../partials/scripts %>
