<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-md-7 col-12 mx-auto mt-4">
      <h2 class="text-center">Register</h2>
      <form action="/account/register" method="POST">
        <div class="form-group">
          <label class="lead text-muted" for="username">Username</label>
          <input type="text" class="form-control form-control-lg" id="username" name="username" aria-describedby="usernameHelp" placeholder="Enter username" required>
        </div>
        <div class="form-group">
          <label class="lead text-muted" for="email">Email address</label>
          <input type="email" class="form-control form-control-lg" id="email" name="email" aria-describedby="emailHelp" placeholder="momo@email.com" required>
        </div>
        <div class="form-group">
          <label class="lead text-muted" for="first_name">First name</label>
          <input type="text" class="form-control form-control-lg" id="first_name" name="first_name" aria-describedby="first_nameHelp" placeholder="Enter first name" required>
        </div>

        <div class="form-group">
          <label class="lead text-muted" for="last_name">Enter last name</label>
          <input type="text" class="form-control form-control-lg" id="last_name" name="last_name" aria-describedby="last_nameHelp" placeholder="Enter last name" required>
        </div>

        <div class="form-group">
          <label class="lead text-muted" for="profile_pic">Enter Profile pic</label>
          <input type="text" class="form-control form-control-lg" id="profile_pic" name="profile_pic" aria-describedby="profile_picHelp" placeholder="Enter profile pic url">
        </div>
        <div class="form-group">
          <label class="lead text-muted" for="password">Password</label>
          <input type="password" class="form-control form-control-lg" id="password" name="password" aria-describedby="passwordHelp" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </form>
    </div>
  </div>
</div>
<% include ../partials/footer %>
<% include ../partials/scripts %>
